<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.app2017"
    version   = "1.0.0">

<name>Mi app Jesus Arellano</name>

<description>
Una app total edicion.
</description>

<author href="https://example.com" email="you@example.com">
Jesus Arellano
</author>

</widget>
